.node{
    width: 10px;
    height: 10px;
    border: 1px solid #484D6D;
    display: inline-block;
    box-sizing: border-box;
}

.node-sm {
    width: 3.5px;
    height: 3.5px;
    border: 0.2px solid #484D6D;
    display: inline-block;
    box-sizing: border-box;
}

.node-start {
    background-color: green;
}
.node-end {
    background-color: red;
}
.node-wall {
    background-color: #4d009a;
}
.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: #4b8f8c;

}
@keyframes visitedAnimation {
    0% {
        background-color: #29315a;
    }
    100% {
        background-color: hsl(${hue}, 50%, ${lightness}%);
    }
}
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: hsl(var(--hue, 24), 100%, 50%);
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: #C5979D;
    }
    50% {
        transform: scale(1.2);
        background-color: #C5979D;
    }
    100% {
        transform: scale(1);
        background-color: #C5979D;
    }
}